.Coming-soon-bg {
    background-image: url('../assets/Images/background/comingSoon.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
  }

  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .Coming-soon-bg hr {
    margin: auto;
    width: 40%;
  }
  .portal-link {
    color: aliceblue;
    background-color: rgb(56, 117, 250);
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
  }
  .portal-link:hover {
    color: aliceblue;
  }
